.App {
    display: grid;
    grid-template-areas: 'sidebar header' 'sidebar main';
    grid-template-columns: 0px auto;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
}

.App__header {
    background-color: black;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    grid-area: header;
    padding-left: 16px;
    padding-top: 32 px;
    text-shadow: 2px 1px 2px black;
    text-align: center;
}

.App__header h2 {
    font-size: 24px;
}

.App__header a {
    text-decoration: none;
    color: white;
}

.App__main {
    background-color: #102541;
    color: #fff;
    grid-area: main;
    padding: 15px;
}

.App__nav {
    background-color: black;
    color: #fff;
    grid-area: sidebar;
    padding-top: 115px;
}

.landingPage {
    text-align: center;
}

.landingPage h1 {
    font-size: 48px;
    text-shadow: 3px 1px 3px rgba(126, 124, 124, 0);
}

.landingPage h2 {
    font-size: 28px;
}

.landingPage p {
    font-size: 16px;
}

.content {
    width: 100%;
}

.AddRecipe h1 {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Recipe__title {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.RecipePageMain {
    font-size: 20px;
    overflow-wrap: normal;
    text-decoration: none;
}

.Recipe h2 {
    font-size: 24px;
}

.aboutUs__intro {
    font-size: 24px;
    text-align: center;
}

.aboutUs__intro h3 {
    font-size: 36px;
}

.AboutUs {
    align-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.FolderListMain__num-recipes {
    background-color: black;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 5px;
}

.FolderListMain__folder-link {
    display: flex;
    align-items: center;
}

.Recipe a {
    text-decoration: none;
    color: white;
}

.RecipeListMain a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 97vh;
    height: auto;
}

@media all and (min-width: 600px) {
    .App {
    display: grid;
    grid-template-areas: 'sidebar header' 'sidebar main';
    grid-template-columns: 0px auto;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
    }

    .landingPage h1 {
        font-size: 72px;
        text-shadow: 3px 1px 3px rgba(126, 124, 124, 0);
    }
    
    .landingPage h2 {
        font-size: 48px;
    }
    
    .landingPage p {
        font-size: 20px;
    }

    .Recipe__title {
        font-size: 48px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .RecipePageMain {
        font-size: 20px;
        overflow-wrap: normal;
        text-decoration: none;
    }
    
    .aboutUs__intro {
        font-size: 24px;
        text-align: center;
    }
    
    .aboutUs__intro h3 {
        font-size: 36px;
    }

    .AddRecipe h1 {
        font-size: 72px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .App__header {
        background-color: black;
        color: #fff;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        grid-area: header;
        padding-left: 16px;
        padding-top: 32 px;
        text-shadow: 2px 1px 2px black;
        text-align: center;
    }
    
    .App__header h2 {
        font-size: 30px;
    }

    .FoldersListMain {
        padding-left: 64px;
    }

    .Recipe {
        padding-left: 32px;
    }

    .Recipe h2 {
        font-size: 48px;
    }
}